/* #region Inician Variables Globales */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  text-decoration-color: #000;
}

img {
  max-width: 100%;
  display: block;
}

/* #endregion */

/* #region Inicio Fondo de la pagina */
body {
  background-image: url("../Img/back_sesaet.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #efefef;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@media (min-width: 385px) {
  body {
    background-image: url("../Img/white.jpg");
    background-repeat: repeat-y;
  }
}
@media (min-width: 768px) {
  body {
    background-position: right;
    background-image: url("../Img/back_sesaet.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) {
  body {
    background-size: auto;
  }
}
/* #endregion */

/* #region Inicio Contenedor Principal */
.container-saet {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  height: 100vh;
}
@media (min-width: 385px) {
  .container-saet {
    width: 30rem;
  }
}
@media (min-width: 576px) {
  .container-saet {
    width: 45rem;
  }
}
@media (min-width: 768px) {
  .container-saet {
    width: 75rem;
  }
}
@media (min-width: 1200px) {
  .container-saet {
    width: 80rem;
    height: auto;
  }
}
@media (min-width: 1600px) {
  .container-saet {
    width: 85rem;
  }
}
/* #endregion */

/* #region Logo de la cabezera */

.logo-header {
  height: 10rem;
  width: 25rem;
  margin-bottom: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #endregion */

/* #region Inicio Menu */
.container-menu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  width: 55%;
  height: auto;
}

@media (min-width: 385px) {
  .container-menu {
    width: 85%;
    row-gap: 2rem;
    margin-bottom: 3rem;
  }
  .item-container {
    width: 28rem;
    height: auto;
  }
  .item-container {
    width: 25rem;
    height: auto;
    margin-bottom: 2.3rem;
  }
}

@media (min-width: 576px) {
  .container-menu {
    width: 75%;
    row-gap: 4rem;
  }
  .item-container {
    width: 35rem;
    height: auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .container-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 90%;
    height: auto;
    column-gap: 2rem;
  }
  .container-menu-footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2rem;
  }
  .item-container {
    width: 23rem;
    height: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .container-menu {
    width: 85%;
  }
  .item-container {
    width: 22rem;
    height: auto;
  }
}
@media (min-width: 1400px) {
  .container-menu {
    width: 93%;
  }
  .container-menu-footer {
    margin-bottom: 20rem;
  }
  .item-container {
    width: 26rem;
    height: auto;
  }
}

/* #endregion */

/* #region Inicio del footer */
.footer-saet {
  font-size: 2rem;
}

@media (min-width: 385px) {
  .footer-saet {
    font-size: 1.5rem;
    text-align: center;
    height: 4rem;
  }
}
.footer-container {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  height: 4rem;
  color: #d59577;
}
@media (min-width: 767px) {
  .footer-container {
    margin-top: 10rem;
    position: fixed-end;
  }
}
@media (min-width: 1024px) {
  .footer-container {
    margin-top: 6rem;
    height: 2rem;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    margin-top: 0rem;
  }
}

/* #endregion */

/* #region  buttom */
.box-buttom {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 4rem;
  margin-bottom: 2rem;
}
.box-buttom a:hover {
  background-color: #ddd;
  color: black;
}

.atras {
  background-color: #d8baab;
  color: black;
  padding: 10px 16px;
  display: inline-block;
}

.round {
  border-radius: 1rem;
}

/* #endregion */
