#accordion{
    background: #7F7F7F;
    padding: 0 !important;
    margin: 0 !important;
}
.encabezado_preguntas{
    background: #7F7F7F;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: solid #F0EDF0 1px;
}


.mb-0 {
    padding-top: 2%;
    padding-left: 2%;
}
.mb-0 a{
    color: #ffffff;
}
.mb-0 a:hover{
    text-decoration: none;
}
.mb-0 a:focus{
    text-decoration: none;
}
.mb-0 a:active{
    text-decoration: none;
}

.collapse_preguntas{
    background: #ffffff;
    border: solid #F0EDF0 1px;
    border-top: none;
}
.respuesta{
    font-size: medium;
    padding: 1%;
}

.texto_especificaciones{
    text-align: justify;
}
.texto_especificaciones p{
    color: #666666;
    font-size: medium;
}
.texto_especificaciones h1{
    color: #666666;
}
.texto_especificaciones h3{
    color: #666666;
}

.texto_especificaciones ul{
    padding-left: 18px;
}
.texto_especificaciones li{
    color: #666666;
    font-size: medium;
}
.texto_especificaciones a{
    color: #ffffff;
    background: #ad7655;
    padding: 12px;
    border-radius: 5px;
    font-size: large;
}

.texto_especificaciones a:hover{
    color: #ffffff;
    background: #3cd4cf;
    text-decoration: none;
}

.link_formato li a{
    color: #3453b9 !important;
    background: transparent !important;
    padding: 0px !important;
}
.link_formato li a:hover{
    text-decoration: underline !important;
}